item=[]
cad=[]
vend=[]

#Função insere
def menu(item):
   
  op="s"

  while op=="s":
    #Chama a função que verifica e insere o CÓDIGO da peça.
    vfCod(cad)    
    #Chama a função que verifica e insere o NOME da peça.
    vfNom(cad)

    cat=(int(input("Categoria da peça:")))
    while cat<1 or cat>20:
      print("Erro digite uma categoria entre 1 e 20.")
      cat=(int(input("Categoria da peça:")))
    item.append(cat)

    prec=(float(input("Preço da peça :"))) 
    while prec<0:
      prec=(float(input("Erro! Digite um valor positivo para preço:")))
    item.append(prec)

    quant=(int(input("Quantidade de peças:")))
    while quant<0:
      quant=(int(input("Erro! Digite um valor positivo para quantidade de peças:")))
    item.append(quant)

    cad.append(item.copy())
    item.clear()
    print(cad)
    print(len(cad))

    op=str(input("Deseja continuar?(s/n)"))    
  select(cad)

#Função 1- Mostra todo cadastro c/ filtro numérico  
def mostra(cad):
  xinf=(float(input("Digite o valor inferior:")))
  xsup=(float(input("Digite o valor superior:")))

  for k in cad:    
    if k[3]<=xsup and k[3]>=xinf:
      print(k)
  ch=str(input("Deseja mostrar o cadastro com um novo filtro?(s/n)"))
  while ch=="s":
    mostra(cad)
  if ch=="n":
    select(cad)
      
#Função verifica sé já existe alguma peça com esse código no cadastro e apresenta erro se código for valor negativo.

def vfCod(cad):
  cod=(int(input("Código da peça:")))
  while cod<=0:
    cod=(int(input("Erro! digite um valor positivo:")))
  
  i=0
  for k in cad:
    while cod==k[0]:      
      cod=(int(input("Erro! Já existe uma peça com esse código!\nTente um novo valor: ")))    
  i+=1  
  item.append(cod)
  
